.header {
  background-color: var(--dark-color);

  &__nav {
    display: flex;

    list-style: none;
  }

  &__nav-link {
    padding: 10px;

    color: white;
    text-decoration: none;

    border-bottom: 5px solid transparent;
  &--active {
    color: var(--main-color);

    border-bottom: 5px solid var(--main-color);
  }
    &:hover {
      color: var(--main-color);
    }
  }

}