.task-list {
  display: flex;
  width: fit-content;
  min-width: 200px;
  max-height: 300px;
  padding: 5px;

  border: 1px solid #20232a;
  border-radius: 10px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
      margin-right: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3a3c42;
    }
  }

  &--empty {
    justify-content: center;
  }

  &__empty {
    font-weight: 500;
  }
}
